body{
    font-family: 'Mulish', sans-serif;
}
header,
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* Shared CSS */
.heading {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.description {
    color: rgba(19, 19, 24, 0.70);
    margin: 24px 0;
}

.btn-primary {
    border-radius: 8px;
    background-color: #FF5400;
    padding: 16px 35px;
    color: #fff;
    border: 0;
    font-weight: 700;
    cursor: pointer;
}


section {
    margin-bottom: 100px;
}

/* header CSS */


.logo {
    display: flex;
    gap: 16px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    color: #131318;
    font-size: 3rem;
    font-weight: 1600;
    font-weight: bold;
}

.logo-span {
    color: #FF5400;
}

nav li a {
    text-decoration: none;
    font-size: 1.125rem;
    color: #424247;
}

.list {
    display: flex;
    list-style: none;
    gap: 44px;
}

#toggler,
label {
    display: none;
}

/* Banner CSS */
.banner {
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 185px;
    color: #fff;
    margin-top: 60px;
}

.banner-title {
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 30px;
}

.input-box {
    display: flex;
    gap: 24px;
    border-radius: 8px;
    background: rgba(4, 3, 3, 0.3);
    padding: 16px;
    justify-content: center;
}
input[type="text"]{
    width: 180px;
    padding: 16px;
    border: 0;
    border-radius: 8px;
}

.input-value{
    width: 220px;
    padding: 20px;
    border-radius: 8px;
    border: 0;
    color: #020224;
}
.btn-search{
    background-color: #FF5400;
    color: #FFF;
    font-weight: 700;
}




/*  tour css */

.tour-container {
    margin-top: 100px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
}


.tour-content {
    color: rgba(19, 19, 24, 0.70);
    margin: 24px 0;
}

.tour-short-description {
    margin: 24px 0;
}

.btn-read-more {
    margin-top: 32px;
}

/* destination css */   
.destination-container {
    text-align: center;
}


 .destination-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-row-container,
.second-row-container,
.third-row-container {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.maldives,
.indonesia,
.srilanka,
.north-america,
.kashmir,
.bangladesh,
.bandarban {
    position: relative;
}
.destination-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
    color: white; 
    font-size: 18px; 
}
.choose-us-container {
    text-align: center;
}

.card-container {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.card-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.card1 {
    text-align: left;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
    width: 50%;
}

.card2 {
    text-align: left;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px;
    width: 50%;
}

.card3a {
    text-align: left;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 32px;
    width: 50%;
}

.card3 {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}


/* Newsletter css */

.newsletter-container {
    display: flex;
    justify-content: space-between;
    max-height: 670px;
}

.newsletter input[type="text"] {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 16px 0 16px 16px;
    border: 0;
    display: block;
    margin-bottom: 16px;
    width: 98%;
}

.newsletter {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
    margin-bottom: 156px;
    width: 40%;

}

.btn-subscribe {
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    padding: 16px;

}

/* discount css */

.discount {
    background-color: #FF5400;
    padding: 40px;
    text-align: center;
    border-radius: 16px;
    max-width: 324px;
    position: relative;
    transform: rotate(-19.628deg);
    bottom: 216px;
    left: 258px;
}

.discount-loc {
    color: #FFF;
    font-size: 24px;
    margin: 0;
    font-weight: 400;
}

.discount-title {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    margin: 0;
}
/* bonus-css */
.video-player {
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    text-align: center;
    font-family: Mulish;
    font-size: 32px;
  }

/* footer css */

footer {
    background: rgba(19, 19, 24, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 110px;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 50px 0;
}

.social-media i {
    font-size: 2rem;
}

.footer-content {
    color: #131318;
    font-weight: 300;
    text-align: center;
    margin-top: 50px;
}
hr{
    background: rgba(19, 19, 24, 0.10);
}

.search-icon .icon-container {
    position: relative;
    bottom: 33px;
    left: 80px;
}

.icon-container i{
    color: #424247;
}


/* responsive css */
@media screen and (max-width: 600px) {
    body,
    .banner{
        padding: 10px;
    }
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    label{
        display: inline-flex;
    }
    #toggler:checked~.menu{
        max-height: 100%;
    }
    .list{
        flex-direction: column;
        gap: 10px;
        text-align: right;
        margin-right: 20px;
    }

    .nav-title {
        color: #131318;
        font-size: 1rem;
        font-weight: 800;
    }

    
    .input-box,
    .tour-container,
    .first-row-container,.second-row-container, .third-row-container,
    .card-container,
    .newsletter-container{
        flex-direction: column;
        padding: 10px;
    }
    .tour-image img , .newsletter-img img{
        width: 100%;
    }
    .destination-img-container img {
        width: 100%;
    }
    .card3a, .card2, .card1{
        width: 80%;
    }
    .discount{
        position: relative;
        max-width: 200px;
        bottom: 116px;
        left: 100px;
        padding: 15px;
    }
    .discount-title {
        font-size: 20px;
        font-weight: 800;
        margin: 0;
    }
    .discount-loc{
        font-size: 16px;
    }
    .newsletter{
        width: 75%;
        margin-bottom: 40px;
    }
    .video-player {
        width: 75%;
        max-width: 60px;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        overflow: hidden;
      }
    footer{
        padding: 10px;
    };
}
